[Unit]
Description = Check for updates periodically
PartOf = graphical@i3.target

[Timer]
OnBootSec = 10s
OnUnitActiveSec = 12h

[Install]
WantedBy = graphical@i3.target
