[Unit]
Description = Check for updates daily
PartOf = graphical@i3.target

[Timer]
OnCalendar=06:00
Persistent=true

[Install]
WantedBy = graphical@i3.target
