! special
*.foreground:   #b6c1cd
*.background:   #000000
*.cursorColor:  #b6c1cd

! black
*.color0:       #192634
*.color8:       #3a5775

! red
*.color1:       #7e344f
*.color9:       #a9617c

! green
*.color2:       #42949b
*.color10:      #6eb9bf

! yellow
*.color3:       #98904f
*.color11:      #b27a49

! blue
*.color4:       #145a8f
*.color12:      #4a86b4

! magenta
*.color5:       #5b4a90
*.color13:      #7f70b1

! cyan
*.color6:       #53a9b9
*.color14:      #83d0de

! white
*.color7:       #5391c1
*.color15:      #81a7cd
